<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOKT5CwUrY2xgpD-NQAERCfC2narIE3-A</string>
	<key>GCM_SENDER_ID</key>
	<string>905609277316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankInfo</string>
	<key>PROJECT_ID</key>
	<string>bankinfo-8c091</string>
	<key>STORAGE_BUCKET</key>
	<string>bankinfo-8c091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905609277316:ios:2c6bc60a1999bb20d7b7d1</string>
</dict>
</plist>